/* .outer{
	height: 100vh;
	background: linear-gradient(to top, #c9c9ff 50%, #6e6ef6 90%) no-repeat;
}

.panel-heading{
	text-align: center;
	margin-bottom: 10px;
}

#no-account{
	min-width: 100px;
	margin-left: auto;
	text-decoration: none;
	cursor: pointer;
}

a:hover{
	text-decoration: none;
}

.form-inline label{
	padding-left: 10px;
	margin: 0;
	cursor: pointer;
}

.btn{
	margin-top: 20px;
	border-radius: 15px;
}

.panel{
	min-height: 380px;
	box-shadow: 20px 20px 80px rgb(218, 218, 218);
	border-radius: 12px;
	margin-top: 100px;
}

.input-field{
	border-radius: 5px;
	padding: 5px;
	display: flex;
	align-items: center;
	cursor: pointer;
	border: 1px solid #ddd;
	color: #4343ff;
}

.input-field.error{
	border-bottom: 1px solid red;
	color: red;
}

input[type='text'],
input[type='password']{
	border: none;
	outline: none;
	box-shadow: none;
	width: 100%;
}

.fa-eye-slash.btn{
	border: none;
	outline: none;
	box-shadow: none;
}

img{
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 10px 20px 30px 40px;
	position: fixed;
	top: 0;
	left: 0;
} */

/* *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.form-container{
    background-color: #000;
    background-image: url('/images/darkbg2.jpg');
    display: flex;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;  
}
.form{
    width: 400px;
    height: 330px;
    background-color: #15172b;
    padding: 20px;
    display: table;  I need to remember it
}

.login{
    margin-top:90px;
}

.signup{
    margin-top:30px
}

.title{
    font-size: 24px;
    font-weight: 600;
    margin-top:10px;
    color: #eee;
}

.input-container{
    height: 40px;
    width: 100%;
    position: relative;
    margin-top: 20px;
}

.input{
    background-color: #303245;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 14px;
    height: 100%;
    outline: 0;
    padding: 4px 20px;
    width: 100%;
}


button{
    border:0;
    background-color: rgb(131 10 97);
    box-sizing: border-box;
    color:#eee;
    font-size: 18px;
    height: 40px;
    text-align: center;
    margin-top: 20px;
    width:100%;
}

button:hover{
   color:  rgb(131 10 97);
   background-color: #eee;
   cursor: pointer;
}

.msg{
    padding-top:10px;
    font-size: 15px;
}


.error{ color: rgb(216, 5, 5);}
.success{ color:rgb(0, 54, 0);}
.light{ color:white;}

.link{
    text-decoration: none;
    color: white;
    padding-top: 10px;
    font-size: 16px;
    display: block;
}
.link:hover{
    color:aquamarine;   
} */

.outer{
	height: 100vh;
	background: linear-gradient(to top, #c9c9ff 50%, #6e6ef6 90%) no-repeat;
}

.panel-heading{
	text-align: center;
	margin-bottom: 10px;
}

#no-account{
	min-width: 100px;
	margin-left: auto;
	text-decoration: none;
	cursor: pointer;
}

a:hover{
	text-decoration: none;
}

.form-inline label{
	padding-left: 10px;
	margin: 0;
	cursor: pointer;
}

.btn{
	margin-top: 20px;
	border-radius: 15px;
}

.panel{
	min-height: 380px;
	box-shadow: 20px 20px 80px rgb(218, 218, 218);
	border-radius: 12px;
	margin-top: 100px;
}

.input-field{
	border-radius: 5px;
	padding: 5px;
	display: flex;
	align-items: center;
	cursor: pointer;
	border: 1px solid #ddd;
	color: #4343ff;
}

.input-field.error{
	border-bottom: 1px solid red;
	color: red;
}

input[type='text'],
input[type='password']{
	border: none;
	outline: none;
	box-shadow: none;
	width: 100%;
}

.fa-eye-slash.btn{
	border: none;
	outline: none;
	box-shadow: none;
}

img{
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 10px 20px 30px 40px;
	position: fixed;
	top: 0;
	left: 0;
}