<div class="outer">
	<div class="container">
		<div class="row">
			<div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
				<div class="panel border bg-white">
					<div class="panel-heading">
						<h3 class="pt-3 font-weight-bold">Register</h3>
					</div>
					<div class="panel-body p-3">
						<form [formGroup]="registerForm">
							<div class="form-group pt-3">
								<div class="input-field">
									<span class="fa fa-user p-2"></span>
									<input formControlName="name" type="text" placeholder="Name">
								</div>
							</div>
							<small *ngIf="registerForm.controls['name'].dirty && registerForm.hasError('required','name')" class="text-danger">*Name is required</small>
							<div class="form-group pt-3">
								<div class="input-field">
									<span class="fa fa-user p-2"></span>
									<input formControlName="email" type="text" placeholder="Email">
								</div>
							</div>
							<small *ngIf="registerForm.controls['email'].dirty && registerForm.hasError('required','email')" class="text-danger">*Email is required</small>
							<div class="form-group pt-3">
								<div class="input-field">
									<span class="fa fa-lock p-2"></span>
									<input formControlName="password" [type]="type" placeholder="Password">
									<span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
								</div>
							</div>
							<small *ngIf="registerForm.controls['password'].dirty && registerForm.hasError('required','password')" class="text-danger">*Password is required</small>
							<button type="submit" class="btn btn-primary btn-block mt-4 w-100" (click)="onRegister()">Register</button>
				

							<div class="text-center pt-4 text-muted">
								Already registered? <a id="account" routerLink="/login">Login</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div class="form-container">
	<div class="form signup">
		<form [formGroup]="frm" (ngSubmit)="onRegister()">
		<div class="title">
		   Register
		</div>
	
		<div class="input-container"> 
		   <input type="text" name="name" class="input" placeholder="Name" formControlName="name">
		</div>
		<div class="msg error" *ngIf="f['name'].invalid && (f['name'].dirty || f['name'].touched)">
			<span *ngIf="f['name'].errors?.['required']">
				Name is required  
		  </span>
		</div>
	   <div class="input-container"> 
		   <input formControlName="email" type="email" name="email" class="input" placeholder="Email">
	   </div>
	
	   <div class="msg error" *ngIf="f['email'].invalid && (f['email'].dirty || f['email'].touched)">
		<span *ngIf="f['email'].errors?.['required']">
			Email is required  
	  </span>
	</div>
	
		<div class="input-container"> 
		<input type="text" formControlName="username" name="username" class="input" placeholder="Username">
	   </div>
	
	   <div class="msg error" *ngIf="f['username'].invalid && (f['username'].dirty || f['username'].touched)">
		<span *ngIf="f['username'].errors?.['required']">
			Username is required  
	  </span>
	</div>
	
	
	   <div class="input-container"> 
		   <input type="password" formControlName="password"  name="password" class="input" placeholder="Password (Format: Abc@1r)">
	   </div>
	
	   <div class="msg error" *ngIf="f['password'].invalid && (f['password'].dirty || f['password'].touched)">
		<span *ngIf="f['password'].errors?.['required']">
			Password is required  
	  </span>
	  <span *ngIf="f['password'].errors?.['invalidPattern']">
		Atleast 6 character long,must contain 1 uppercase, 1 lowercase, 1 digit and 1 special character
	</span>
	</div>
	
	   <div class="input-container"> 
		   <input type="password" formControlName="confirmPassword" name="confirm password" class="input" placeholder="Confirm Password">
	   </div>
	
	   <div class="msg error" *ngIf="f['confirmPassword'].invalid && (f['confirmPassword'].dirty || f['confirmPassword'].touched)">
		<span *ngIf="f['confirmPassword'].errors?.['required']">
			ConfirmPassword is required  
	  </span>
	  <span *ngIf="f['confirmPassword'].errors?.['mustMatch']">
		Password and confirm password should be matched  
	</span>
	   </div>
	
	   <button type="submit" id="btnSubmit" [disabled]="frm.invalid">Register</button>
	   
	   <div class="msg light" *ngIf="status">
		  {{status.message}}
	   </div>
	
		 <a routerLink="/login" class="link">Already a member? Login here</a>
		</form>
	</div>
	</div> -->